body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:743px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:260px;
  width:200px;
  height:227px;
}
#u366_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:227px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:227px;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:227px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:227px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:29px;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:227px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:0px;
  width:33px;
  height:227px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:29px;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:227px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:33px;
  height:227px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:29px;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:227px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:33px;
  height:227px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:29px;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:227px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:0px;
  width:33px;
  height:227px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:29px;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:227px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:35px;
  height:227px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:31px;
  word-wrap:break-word;
}
